{
  "extends": "dherault",
  "rules": {
    "semi": ["error", "always"],
    "prefer-destructuring": "off",
    "key-spacing": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "import/no-dynamic-require": "off"
  }
}
