
# node.js
.nyc_output
.webpack
coverage
dist
node_modules

# python
*.pyc

# serverless
.serverless
.serverless-offline

# Logs
logs
*.log

npm-debug.log*

# IntelliJ
.idea

# MacOs
.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions